@{ViewBag.Titulo = "Biblioteca Digital"; ViewBag.esBase = true;}
<h1 class="text-center">Bienvenidos a la Biblioteca Digital</h1>
<p class="lead text-center">En este sistema podrás gestionar y consultar libros de una biblioteca digital.</p>
<p class="text-center">Puedes agregar nuevos libros, editarlos o eliminarlos, además de buscar libros por diferentes criterios.</p>
